# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Python ###
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
pyvenv.cfg

### Build Directories ###
bin/
lib/
lib64/
build/
dist/
*.egg-info/
*.egg

### Virtual Environments ###
venv/
env/
.venv/
.env/

### IDE ###
*.sublime-project
*.sublime-workspace

### System Files ###
.DS_Store
Thumbs.db


### Some other things?
share/
lib64/